/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #F5F5DC;
    margin: 0; /* Ensure there is no margin around the body */
    padding-top: 80px; /* Give space for the fixed header */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for dark mode */
}

body.dark-mode {
    background-color: #000000; /* Dark background for dark mode */
    color: #00C1D4; /* Light text color for dark mode */
}

header {
    position: fixed; /* Change to fixed position */
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFCD00; /* Light background color */
    z-index: 1000; /* Ensure it's on top */
    padding: 10px 20px; /* Add some padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for better visibility */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center the content */
    transition: background-color 0.3s; /* Smooth transition for dark mode */
}

header.dark-mode {
    background-color: #002F6C; /* Dark blue background for header in dark mode */
}

.logo {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px 0; /* Ensure some space around it */
    width: 100%; /* Full width */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for dark mode */
}

/* Adjust positioning to ensure it stays between the header and countdown */
header + .logo {
    margin-bottom: 20px; /* Space between header and logo */
}

.logo + #countdown {
    margin-top: 20px; /* Space between logo and countdown */
}

.logo.dark-mode {
    color: #00C1D4; /* Bright yellow for logo in dark mode */
}

.burger-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1000; /* Ensure it's on top */
}

.burger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

.burger-menu.dark-mode .bar {
    background-color: #FFCD00; /* Bright yellow for burger menu in dark mode */
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: auto;
}

.nav-links nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.nav-links nav ul li {
    display: inline;
}

.nav-links nav ul li a {
    text-decoration: none;
    color: #0073e6;
}

.nav-links nav ul li a.dark-mode {
    color: #00C1D4; /* Cyan color for nav links in dark mode */
}

h1, h2 {
    color: #333;
    text-align: center;
    
}

h1.dark-mode, h2.dark-mode {
    color: #FFCD00; /* Bright yellow for headings in dark mode */
}

section#about, section#questionnaire, section#links {
    max-width: 800px;
    margin: 20px auto;
}

form {
    max-width: 600px;
    margin: 0 auto;
    color: inherit; /* Inherit color for dark mode */
}

label, select, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: inherit; /* Inherit color for dark mode */
}

textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
    background-color: #333; /* Dark background for textarea in dark mode */
    color: #fff; /* Light text color for textarea in dark mode */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    color: #0073e6;
    text-decoration: none;
}

ul li a.dark-mode {
    color: #00C1D4; /* Cyan color for list links in dark mode */
}

/* Footer navigation links justified between */
.nav-links-footer nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.scroll-list__wrp {
    width: 100%;
    height: 300px; /* Smaller height for noticeable scroll effect */
    overflow: auto;
    padding: 20px; /* Reduced padding to fit content better */
    border-radius: 8px;
    scroll-behavior: smooth; /* Smooth scrolling effect */
    background-color: #fff; /* Light background color */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for dark mode */
}

.scroll-list__wrp.dark-mode {
    background-color: #002F6C; /* Dark blue background for scroll list in dark mode */
    color: #ffffff; /* Light text color */
}

.link-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px; /* Space between cards */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, background-color 0.3s, color 0.3s; /* Smooth transition for dark mode */
}

.link-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.link-card.dark-mode {
    background-color: #FFCD00; /* Bright yellow for link cards in dark mode */
    color: #002F6C; /* Dark blue text color for cards in dark mode */
}

.link-card a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.link-card a.dark-mode {
    color: #002F6C; /* Dark blue for links in dark mode */
}

.link-card .icon {
    font-size: 2em;
    margin-right: 20px;
}

.link-card .link-content h3 {
    margin: 0;
    font-size: 1.2em;
}

.link-card .link-content p {
    margin: 5px 0 0;
    font-size: 0.9em;
    color: #666;
}

.link-card.dark-mode .link-content p {
    color: #002F6C; /* Dark blue text color for cards in dark mode */
}

/* Styling for the quiz section */
#quiz {
    background-color: #E10098;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for dark mode */
}

#quiz.dark-mode {
    background-color: #FF6A00; /* Vibrant orange background for quiz section in dark mode */
    color: #ffffff; /* Light text color for quiz section in dark mode */
}

#quiz input[type="submit"] {
    background-color: #E10098;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#quiz input[type="submit"]:hover {
    background-color: #002F6C; /* Dark blue for submit button hover in dark mode */
}

/* Styling for the countdown timer */
#countdown {
    background-color: #FF6A00;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for dark mode */
}

#countdown.dark-mode {
    background-color: #002F6C; /* Dark blue background for countdown in dark mode */
    color: #FFCD00; /* Bright yellow text color for countdown in dark mode */
}

#timer {
    font-size: 2em;
    color: #ffffff;
}

#timer.dark-mode {
    color: #0073e6; /* Light color for dark mode */

}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
    body {
        padding-top: 60px; /* Adjust for smaller screens */
    }
    
    .burger-menu {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute; /* Ensure it overlays */
        top: 60px; /* Position below the header */
        left: 0;
        right: 0;
        background-color: #FFCD00; /* Match the header's color */
        z-index: 999; /* Ensure it overlays other content */
        transition: all 0.3s ease; /* Smooth transition */
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links nav ul {
        flex-direction: column;
        gap: 10px; /* Increase gap for better spacing */
    }

    section#about, section#questionnaire, section#links, section#quiz, section#countdown {
        padding: 15px; /* Ensure better padding on smaller screens */
    }

    .link-card {
        flex: 1 1 100%;
        margin-bottom: 15px; /* Space between cards on small screens */
    }

    .logo {
        padding: 20px; /* Adjust padding */
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }

    #countdown {
        padding: 20px;
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }

    /* Footer navigation adjustments */
    .nav-links-footer nav ul {
        flex-direction: row-reverse; 
        gap: 10px; 
        padding: 0;
        justify-content: space-around;
        flex-wrap: wrap; /* Ensure items wrap if they don't fit in one line */
    }

    .nav-links-footer nav ul li {
        margin-bottom: 0; /* Space between items on smaller screens */
        list-style: none;
    }
    .nav-links-footer nav ul li a {
        width: 100%; /* Ensure links take full width on small screens */
        text-align: center; /* Center align text */
    }
}

/* Nav links - Add these styles */
.nav-links nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    text-align: center; /* Center text within the link */
    text-decoration: none; /* Remove underline from links */
}

.nav-links-footer nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    text-align: center; /* Center text within the link */
    text-decoration: none; /* Remove underline from links */
}


/* Ensure iframe container respects the CSS */
.iframe-container {
    width: 100%; /* Make it responsive */
    max-width: 800px; /* Adjust to your content width */
    margin: 20px auto; /* Center it and add space around */
    border: 1px solid #ddd; /* Optional: Add a border around the iframe */
    border-radius: 8px; /* Optional: Round the corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
    overflow: hidden; /* Hide any overflowing content */
}

.iframe-container iframe {
    width: 100%; /* Make iframe take full container width */
    height: 100vh; /* Set a reasonable height */
    border: none; /* Remove default border */
}
  
/*
#toggle-dark-mode{
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    

}


#toggle-dark-mode:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

*/